.pagination
    .pagination-wrap
        a(href="#" title="Предыдущая страница").pagination-item.pagination-arrow.pagination-arrow--left.disabled
        a(href="#" title="Страница 1").pagination-item.active 1
        a(href="#" title="Страница 2").pagination-item 2
        a(href="#" title="Страница 3").pagination-item 3
        a(href="#" title="Страница 4").pagination-item 4
        a(href="#" title="Страница 5").pagination-item 5
        a.pagination-item.pagination-dots ...
        a(href="#" title="Страница 10").pagination-item 10
        a(href="#" title="Следующая страница").pagination-item.pagination-arrow.pagination-arrow--right

    .btn.btn--pink Показать еще