.search-component#searchComponent
    form
        input(placeholder="Поиск по сайту" type="search").input
        button(type="submit").btn.btn--brown Найти
    button(type="button").search-component__close#searchHide
        +svg("icon_x")