$s: 360px;
$xs: 425px;
$sm: 576px;
$md: 744px;
$lg: 1280px;
$xl: 1460px;
$hd: 1920px;

@mixin breakpoint($point) {
    @if $point==s {
        @media (min-width: $s) {
            @content;
        }
    } @else if $point==xs {
        @media (min-width: $xs) {
            @content;
        }
    } @else if $point==sm {
        @media (min-width: $sm) {
            @content;
        }
    } @else if $point==md {
        @media (min-width: $md) {
            @content;
        }
    } @else if $point==lg {
        @media (min-width: $lg) {
            @content;
        }
    } @else if $point==xl {
        @media (min-width: $xl) {
            @content;
        }
    } @else if $point==hd {
        @media (min-width: $hd) {
            @content;
        }
    } @else {
        @media (min-width: $point) {
            @content;
        }
    }
}

@mixin breakpointMax($point) {
    @if $point==s {
        @media (max-width: $s - 1px) {
            @content;
        }
    } @else if $point==xs {
        @media (max-width: $xs - 1px) {
            @content;
        }
    } @else if $point==sm {
        @media (max-width: $sm - 1px) {
            @content;
        }
    } @else if $point==md {
        @media (max-width: $md - 1px) {
            @content;
        }
    } @else if $point==lg {
        @media (max-width: $lg - 1px) {
            @content;
        }
    } @else if $point==xl {
        @media (max-width: $xl - 1px) {
            @content;
        }
    } @else if $point==hd {
        @media (max-width: $hd - 1px) {
            @content;
        }
    } @else {
        @media (max-width: $point - 1px) {
            @content;
        }
    }
}

@mixin textLimit($val) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $val;
    line-clamp: $val;
    -webkit-box-orient: vertical;
}

@mixin flexCenterCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexCenterBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flexAlignCenter {
    display: flex;
    align-items: center;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin columCountWidth($count) {
    width: calc((100vw - var(--container) * 2) / 12 * $count);
}

@mixin columCountMaxWidth($count) {
    max-width: calc((100vw - var(--container) * 2) / 12 * $count);
}

@mixin columnCountXlWidth($count) {
    width: calc(var(--container-max-width) / 12 * $count);
}
@mixin columnCountMaxXlWidth($count) {
    max-width: calc(var(--container-max-width) / 12 * $count);
}
